body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-regular', sans-serif;
}
h1 {
  font-family: 'Montserrat-regular', sans-serif;
}
div {
  margin: 0;
  padding: 0;
}
/* navbar */
.navbar-brand {
  font-size: 2rem;
  font-family: 'Ubuntu';
}
/* slider */
#slider {
  border-radius: 100px;
}
/* main */
.main {
  padding: 48px;
}
.main h1 {
    margin: 0 auto 30px;
}
img {
    width: 175px;
}
.col-sm-6 {
    max-width: 50%;
}
col-lg-3 {
    padding-left: 30px;
}
.main a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.main a:hover {
  color: rgb(36, 35, 35);
}

/* footer */

.footer div h3, p {
    display: inline;
}
